/* Basis-Styling */
/*
  Hier wird festgelegt, wie die Seite grundsätzlich aussehen soll.
  Die Seite bekommt eine Hintergrundfarbe, keine Standard-Abstände
  und eine lesbare Schrift.
*/
body {
    background-color: #eef3ef;
    margin: 0;
    font-family: '', sans-serif;
    scroll-behavior: smooth;
}

/* Überschriften style: etwas eleganter und mit Abstand nach unten. */
h1,
h3,
h5 {
    text-align: left;
    font-family: 'Fugaz One', cursive;
    font-weight: 1000;
    padding-bottom: 20px;
    margin: 0;
}

/* Fließtext style: klarer Kontrast zur Überschrift und ohne zusätzlichen Rand. */
p {
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    margin: 0;
}






